.movies {
  position: relative;
  height: 460px;
  display: flex;
  flex-direction: column;
}

.VueCarousel-wrapper {
  width: 81%;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, 0);
}

.VueCarousel {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  height: 400px;
  width: 90%;
}

.VueCarousel-slide {
  flex-basis: inherit;
  flex-grow: 0;
  flex-shrink: 0;
  user-select: none;
  backface-visibility: hidden;
  outline: none;
  width: 132px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.movie-info {
  height: 100%;
  display: flex;
}

.movie-poster img {
  width: 240px;
  height: 350px;
  margin-top: 30px;
  margin-left: 15px;
}

.title {
  display: flex;
}

.info {
  display: flex;
}

.links {
  display: flex;
  justify-content: flex-start;
}

.links button {
  margin-left: 20px;
}

.info h2 {
  margin: 20px;
}

.opening-crawl {
  width: 70%;
}

.opening-crawl p {
  margin: 10px;
  margin-left: 20px;
}

table td {
  text-align: left;
}

.additional-info ul {
  list-style: none;
  margin-left: 20px;
}

.con-vs-tabs {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-left: 17px;
  padding-top: 10px;
}

.species {
  overflow: scroll;
}
